<div  class="container">
  <div #pdftable>
    <h2>Angular HTML To PDF Example</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Smith</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Zalmers</td>
          <td>Nilsen</td>
          <td>nilsen@example.com</td>
        </tr>
        <tr>
          <td>Zoller </td>
          <td>Dooley</td>
          <td>zoller@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary" (click)="exportPDF();">Export To PDF</button>
</div>
